@import  "//fonts.googleapis.com/css?family=Montserrat";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  min-height: 100%;
  font-family: "Montserrat",sans-serif;
  line-height: 1.42857;
  font-size: 17px;
  background-color: #ffffff;
  color: #000000;
  word-wrap: normal;
}

a,a:visited,a:active,a:hover {
  color: #FFF;
  text-decoration: underline;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.bg-image {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  z-index: 0;
}

.content {
  margin:0 auto;
  max-width: 1070px;
}

.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.form-horizontal .btn {
  display: block;
  margin: 0 auto;
}

.user-signup__submit {
  line-height: .5em;
}

.user-signup__form {
  margin-left: -5px;
}

.user-signup__form-group {
  padding: 0 0 0 5px;
  position: relative;
}

@media all and (max-width: 767px) {
  .form-horizontal .mt-table,.form-horizontal .mt-table--full,.form-horizontal .mt-table--centered,.form-horizontal .mt-table--full,.form-horizontal .mt-td--centered-vertical {
    display: block;
  }
}

@media all and (min-width: 768px) {
  .form-horizontal .user-signup__col-2 {
    width: 1%;
  }
}

.floating-signup__wrap {
  position: fixed;
  z-index: 5;
  padding: 10px;
}

.floating-signup {
  position: relative;
  padding: 10px 20px;
}

.floaty-vertical--middle {
  background: #FFFFFF;
}

.waffle-photo, .fb-page {
display:inline-block;
vertical-align: top;
}

.waffle-photo {
 max-width: 100%;
}

.fb-page {
 max-width: 100%; 
}

@media all and (max-width: 480px) {
  .floaty-unfloat-at--xs.floating-signup__wrap {
    position: static;
    display: block;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    float: none;
  }
}

.insert--image {
  display: block;
  position: relative;
}

.insert--image.wrap-off-align-center {
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  z-index: 0;
  width: 2.52px;
  margin-bottom: -15px;
  margin-top: -15px;
}

.clean-hr {
  z-index: 0;
  width: 100%;
  max-width: 579.5px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.m-lg-v {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt-table,.mt-table--full {
  display: table;
}

.mt-table--full {
  width: 100%;
}

.mt-td,.mt-td--centered-vertical {
  display: table-cell;
}

.mt-td--centered-vertical {
  vertical-align: middle;
}

.loading-state {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url(/res/loading.gif) 50% 45% no-repeat;
}

.rel {
  position: relative;
}

.bg-image {
  background-image: url();
  background-attachment: scroll;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .69;
}

h1 {
  font-size: 30px;
}

.form-control__input {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  height: 50px;
}

.user-signup__submit {
  border-width: 0;
  border-radius: 0;
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;
  height: 50px;
  background-color: #435165;
  color: #FFF;
}

.user-signup__submit:hover {
  background-color: #546176;
  color: #FFF;
}

#mc_embed_signup form {text-align:center; padding:10px 0 10px 0;}
.mc-field-group { display: inline-block; }
#mc_embed_signup input.email {-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #fff; box-sizing:border-box; height:50px; padding: 0px 0.4em; display: inline-block; margin: 0; width:70%; vertical-align:top;color:#212121;}
#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup .clear {display: inline-block;}
#mc_embed_signup .button {border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #aaa; box-sizing:border-box; height:50px; line-height:50px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#61708a;cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:100%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 100%; margin:0; }
}

@media all and (min-width:481px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 36px;
  }
}

@media all and (min-width:769px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 42px;
  }
}
